//! **************************************************************************
// Written by: Map P.20131013 on Tue May 15 22:51:54 2018
//! **************************************************************************

SCHEMATIC START;
COMP "clk" LOCATE = SITE "B8" LEVEL 1;
COMP "disp<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "disp<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "disp<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "disp<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "disp<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "disp<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "disp<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "segmentCount<0>" LOCATE = SITE "K14" LEVEL 1;
COMP "segmentCount<1>" LOCATE = SITE "M13" LEVEL 1;
COMP "segmentCount<2>" LOCATE = SITE "J12" LEVEL 1;
COMP "segmentCount<3>" LOCATE = SITE "F12" LEVEL 1;
NET "clk_BUFGP/IBUFG" BEL "clk_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

